#search3Dresult {
  padding: 5px;
  position:relative ;
  margin-top: 10px;
  display: flex;
  
  background-image: radial-gradient(circle, rgb(209, 209, 255,0.3),rgb(68, 95, 95,0.3));

}

.imgfiltro {
  margin-right: 1.90rem;
  width: 20px;
  height: auto;
  border: 2px solid white;
}

.span1 {
  margin-right: 4.60rem;
  position: absolute;
  left: 80px;
}

.span2 {
  border: 2px solid white;
  color: rgba(13, 179, 191, 0.829);
  position: absolute;
  right: 25px;
}

.result {
  display: flex;
  .textsearch {
    display: inline-block;
    margin-top: 50px;
    margin-left: 1.9rem;
    font-size: 1.15rem;
    border: 2px solid white;
    margin-bottom: 0.5px;
  }
}

@media (max-height: 741px){
  #search3Dresult {
  padding: 10px;
  position:relative ;
  margin-top: 10px;
  display: flex;
  background-image: radial-gradient(circle, rgb(209, 209, 255,0.3),rgb(68, 95, 95,0.3));
    }
}
