/*
    Mobile First Structure
*/ 

@import url(search.css);

*{
    margin: 0;
    list-style: none;
    transition: 0.3s;
    color: white;
    font-size: 13px;
}


/*################### Main Body Style For Backg Size and Font #######################*/
body{
    background-image: linear-gradient(to bottom,rgb(34, 34, 45),black,rgb(34, 34, 45));
    background-size: cover;
    min-height: 150vh;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

/*General Link Style For text and list*/
a{
    text-decoration: none;
    list-style: none;
}
/*General Tititle Style*/
h2{
    font-size: 1.5em;
}

/*############### Main NavBar Style For Backg and Space ############################*/
nav{
    padding: 9px;
    background-image: radial-gradient(circle, rgb(209, 209, 255,0.3),rgb(68, 95, 95,0.3));
}

/*Nav ul Style For display, align and space*/
nav ul{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
}

/*Nav ul li Style For Space*/
nav ul li{
    margin-right: 1em;
}

/*Nav ul li a Style For Text and Font*/
nav ul li a{
    text-decoration: none;
}

/*NavIcon Style For self transformation Size and Space*/
.navIcons{

    max-width: 14px;
    max-height: auto;
    margin: 0 0 0 1em;
} 

/*Menu Button Style For Transform, Backg and Border*/
.menuButton{
    transform: scale(0.96);
    background-color: transparent;
    border: 0px transparent;
    margin: 0;
} 
 /*Search Button Style For display*/
#searchButton
{
    display: none;
}

/*###################### Presentation ################*/
.Presentation{
    text-align: left;
    margin: 4em 0 0 2.5em;
}   
.Presentation h2{
    font-size: 2.3em;
}
/*Popular Link Button style for space, width, text, border, Backg*/
.PopularLinkButton{
    padding: 5px;
    max-width: 120px;
    margin: 1em 0 0 0;
    text-align: center;
    border-radius: 10px;
    background-image:  linear-gradient(to right,#41606b,#684c8f);
}
/*Popular Link Button a style for font*/
.PopularLinkButton a{
    font-size: 1.1em;
}

/*####################### Main ############################*/
.GeneralMain{
    margin: 3em 0 0 1em;
}
.MessageFromCategories h2{
    margin: 0 0 0 1em;
}
.ContainerFor3D{
    display: grid; /*To Make a Grid of 3D Viewers*/
    grid-template-columns: repeat(2 , 1fr); /*Seting Number of Columns in Grid*/
    gap: 1em; /*Space Between 3D Viewers*/
    transform: scale(0.96); 
    max-width: 2600px; /*Max Width for Mobile Devices*/
    height: auto; /*Auto Height*/
}
/*Viewer 3D For 3D Models*/
.QuadViewer3D{
    margin: 0 0 0.1em 0;
    padding: 10px;
    height: 15vh;
    max-width: 13em;
    min-height: 26vh;
    border-radius: 10px;
    background-image: radial-gradient(circle,
    rgba(207, 207, 255, 0.575), rgba(1, 30, 31, 0.555)); 
}   

/*UI Conatainer For Buttons*/
.UIConatainer{
    padding: 5px;
    z-index: 100;
}
/*UI Container Button Style for backg, border, space, transf, border*/
.UIConatainer button{
    background: rgba(0, 0, 0, 0.342);
    border: none;
    padding: 10px;
    transform: scale(1.1);
    border-radius: 10px;
}
/*Category Button style for font, space*/
.CategoryButton{
    font-size: 11px;
    margin-right: 3em;
}
/*Download Button style for transform, backg, border, space*/
.DownloadButton{
    transform: scale(0.8);
    background-color: transparent;
    border: none;
    margin: 0;
}
/*Download Button img style for size*/
.DownloadButton img{
    max-width: 15px;
    max-height: auto;
}


/*Modification for Smallest Digital Devices*/
@media(max-width: 350px)
{
    /*Modification categories Main in margin*/
    .CategoriesMain{
        margin: 3em 0 0 0.06em;
    }
    /*Modification Conatainer For 3D in Grid Gap and Space*/
    .ContainerFor3D{
        gap: 0.2em;
        margin: 0,0,0,0;
    }
    .CategoryButton{
        margin-right: 2em;
    }
    .QuadViewer3D{
        transform: scale(0.9);
    }
}
/*#################### Biggest Devices ######################*/
/*Commun Size Of Tablets Style For .ContainerFor3D elements*/
@media(max-height: 1080px)
{
    .QuadViewer3D{
        min-height: 14em;
    }
}
@media(min-width: 500px)
{
    /*Mofication for container for 3d in number of grids and gap size*/
    .ContainerFor3D{
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
    }
    /*Modification for Quad Viewer 3D in general size*/
    .QuadViewer3D{
        max-width: 20em;
    }
    /*Modification for Category Button in Space*/
    .CategoryButton{
        margin-right: 2em;
    }
}
/*Commun Size Of Tablets Style For .ContainerFor3D elements*/
@media(min-width: 660px)
{
    .ContainerFor3D{
        grid-template-columns: repeat(4,1fr);
    }
    .QuadViewer3D{
        min-height: 14em;
    }
    .CategoryButton{
        margin-right: 2em;
    }
}
/*Commun Size of */
@media(min-width: 900px)
{
    .ContainerFor3D{
        grid-template-columns: repeat(5,1fr);
        max-width: 1100px;
        gap: 1em;
    }
    .UIConatainer{
        margin: 0 0 0 1em;
    }
    /*in Hover just Transform the Scale*/
    .QuadViewer3D:hover{
        transform: scale(1.1);
    }
}
@media(min-width: 1100px)
{
    .UIConatainer button{
        transform: scale(1.3);
    }
    .CategoryButton{
        margin-right: 6em;
    }
    
}
